body{
  font-family: Arial;
  background: #f7f7f7
}

.titulo{
  padding: 40px;
  display: block;
  margin: auto; 
}

.nav{
  display: flex;
  justify-content: center;
  gap: 20px;

}

.nav a{
  text-decoration: none;
  color: black;
  background: white;
  padding: 15px;

}

.conteudo{
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
 
}



.botao{
  grid-column: 1;
  text-decoration: none;
  color: white;
  background-color: #ee2211;
  padding: 14px;
  border-radius: 5px;
  justify-self: end;

}

.bike{
  max-width: 100%;
  grid-column: 2;
  grid-row: 1;
}

span{
  position: absolute;
}