body{
  font-family: Arial;
  background: #f7f7f7
}

.titulo{
  padding: 40px;
  display: block;
  margin: auto; 
}

.nav{
  display: flex;
  justify-content: center;
  gap: 20px;

}

.nav a{
  text-decoration: none;
  color: black;
  background: white;
  padding: 15px;

}

.conteudo{
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
 
}

.introducao{
  display: grid;

}

.introducao h2{
  justify-self: end;
  align-content: start;
  
}


.botao{
  grid-column: 1;
  text-decoration: none;
  color: white;
  background-color: #ee2211;

  border-radius: 5px;
  justify-self: end;
  
  

}

.bike{
  max-width: 100%;
  grid-column: 2;
   
}
span{
  position: absolute;
}