p{
  font-size: 2rem;
  font-family: Georgia, Times, serif;
  font-weight: bold;
  font-style: italic;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  text-indent: 5rem;
  text-align:center;
  text-shadow: 1px 2px 2px rgb(224, 14, 14);
  letter-spacing: 0.5rem;


  }