li{
  list-style: none; 
  font-size: 3.5rem;
}

li::before{
  content: '';
  display: inline-block;
  width: 8px;
  height: 9px;
  background: rgb(185, 5, 185);
  margin: 10px;
  border-radius: 50%;
  background-image:linear-gradient(#caf, #fff);
  border: 2px solid #caf;

}

@media (max-width: 600px){
  li{
    background: red;
  }

}