.titulo{
  text-align: center;
}

.conteudo{
  display: grid;
  gap: 5px;
  padding: 10px;
}

.conteudo-item{
  display: grid;
  background: #f7f7f7;
  border: solid 1px #E7E7E7;  
}

.botao{
  background: #a8f;
  color: #103;
  text-decoration: none; 
  border-radius: 5px;
  padding: 20px;
  
  
}