body{
  font-family: Arial;
}

h1{
  text-align: center;
}

h2{
  margin-top: 0px;
}

.titulo{
  text-align: center;
}

.conteudo{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.item{
display: grid;
background: #f7f7f7;
border: 1px solid #e7e7e7;
margin-bottom: 20px;
padding: 20px;
border-radius: 5px;


}

.botao{
  text-decoration: none;
  color: #103;
  background: #a8f;
  padding: 10px 20px;
  border-radius: 5px;
  place-self: start;
  


}