a{
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-family: Arial;
  text-decoration: none;
  background: #caf;
  color: #217;
 
}

a:active{
  background: pink;
  color: #761;

}

.lista-1 li:not(:first-child, :last-child){
background: rgb(236, 12, 5);

}
