a{
  padding: 1rem 2rem;
  text-decoration: none;
  background: rgb(213, 106, 255);
  color: white;
  position: absolute;
  margin: 20px;
  border-radius: 5px;
  text-transform: uppercase;
  
}

a:hover{

  background: #000;
}