a{
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-family: Arial;
  text-decoration: none;
  background: #caf;
  color: #217;
 
}

a:hover{
  background: #adf;
  color: #147;

} 

a:focus{
  background: #cfa;
  color: #371;
  border: 2px solid red;
}

a:active{
  background: pink;
  color: #761;

}


div{
  padding: 1rem 2rem;
  /* display: inline-block; */
  background: #147;
  color: white;
  font-weight: 600;
  font-family: Arial;
}

div:hover{
  background: #adf;
  color: purple;
}